<% provide(:title, @user.name) %>
<div class="row">
	<%= link_to "Sign out", signout_path %>
	<%= link_to "Profile", user_path(@user) %>
	
	<aside class="span4">
		<section>
			<h1><%= @user.name %>
			</h1>
			<%= gravatar_for @user %>
			<p><%= @user.email %></p>
		</section>
	</aside>
</div>